{%  include "base.html" %}

{%  block content %}
    <h1>Account Details</h1>

    <div>
        <div class="row">
            <div class="col-md-4">Account name:</div><div class="col-md-4">{{ acc.name }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Account code:</div><div class="col-md-4">{{ acc.account_code }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Total balance:</div><div class="col-md-4">{{ acc.balance }}</div>
        </div>
    </div>

    <br>

    <table class="table table-striped table-bordered" id="tbl-accounts">
        <thead>
            <tr class="me-4">
                <td>Description</td>
                <td>Amount</td>
            </tr>
        </thead>
        {%  for entry in entries %}
            <tr class="me-4">
                <td>{{ entry.description }}</td>
                <td>{{ entry.amount }}</td>
            </tr>
        {%  endfor %}
    </table>

{%  endblock %}