{%  extends "base.html" %}
{% block content %}
<h1>{{ title }}</h1>
<div>
    <div style="float:left;width:20%">
        <h2>Details</h2>
        <a class=button-style href="{% url 'minerva:agent-edit' pk=agent.id %}">Edit</a>
        <table>
            <tr>
                <th>Agent ID</th>
                <td>{{agent.id}}</td>
            </tr>
            <tr>
                <th>Agent code</th>
                <td>{{agent.agent_code}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{agent.first_name}} {{ agent.last_name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{agent.email}}</td>
            </tr>
        </table>
    </div>
    <div style="float:right;width:80%">
        {% if table %}
            <h2>{{ table_heading }}</h2>
            <a class="button-style" href="{{ create_link }}">Create New</a>
            {% include "table.html" with table=table %}
        {% endif %}
    </div>
</div>
{% endblock %}