{%  extends "detail_template.html" %}
{% block detail %}
    <div style="float:left;width:20%">
        <h2>Details</h2>
        <a class=button-style href="{% url 'fees:journal-edit' pk=journal.id %}">Edit</a>
        <div>
            <table>
                <tr>
                    <th>Journal ID</th>
                    <td>{{journal.id}}</td>
                </tr>
                <tr>
                    <th>Reference</th>
                    <td>{{journal.reference}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{journal.description}}</td>
                </tr>
                <tr>
                    <th>Cash Account</th>
                    <td>{{journal.cash_account}}</td>
                </tr>
                <tr>
                    <th>Producer</th>
                    <td>{{journal.producer}}</td>
                </tr>
                <tr>
                    <th>Period End Date</th>
                    <td>{{journal.period_end_date}}</td>
                </tr>
            </table>
        </div>
        <div>
            {% if unallocated_accounts_table %}
                <h2>Unallocated Accounts</h2>
                {% include "table.html" with table=unallocated_accounts_table %}
            {% endif %}
        </div>
    </div>
    <div style="float:right;width:80%">
        {% if jd_table %}
            <h2>{{ table_heading }}</h2>
            <a class="button-style" href="{{ create_link }}">Create New</a>
            <a class="button-style" href="{{ upload_link }}">Upload File</a>
            {% include "table.html" with table=jd_table %}
        {% endif %}
    </div>
{% endblock %}